<div class="container pb-5">
    <div class="text-center">
      <h1 class="display-2">About</h1>
    </div>

    <div class="text-center">
        <h4>コレタビへ、ようこそ！</br>
        旅先で撮影した写真を
        共有するサイトです！</br>
        あなただけの
        素敵な場所を共有しましょう！</br>
        </h4>
    </div>



</div>